.toolbar{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

button{
    border: none;
    background: none;
    height: 50px;
    margin-right: 20px;
    outline: none;
}

button:hover{
    background: rgb(0, 0, 0);
    cursor: pointer;
}


.input-wrapper{
    display: flex;
    align-items: center;
}

input[type="color"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    width: 28px;
    height: 28px;
    border: none;
    cursor: pointer;
}

input[type="color"]::-webkit-color-swatch {
    box-shadow: 0 0 0 1px #ffffff5e, 0 0 0 2px rgba(0, 0, 0, 0.408);
}

input[type="color"]::-moz-color-swatch {
    box-shadow: 0 0 0 1px #ffffff7a, 0 0 0 2px #00000099;
}

.fontColor{
    font-size: 35px;
    color: blue;
    font-weight: 700;
    cursor: pointer;

}


#text_input{
    border: 2px solid rgba(119, 116, 116, 0.264);
    border-radius: 10px;
    height: 500px;
    width: 75%;
    margin: 20px auto;
    padding: 20px 25px;

}

